.oakley {
  box-sizing: border-box;
  padding-top: 160px;
  margin-top: -50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  min-height: min-content;
  background-color: #f2f2f2;
}
